<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Face Your Vote</title>
  <link href='http://fonts.googleapis.com/css?family=Doppio+One|Squada+One' rel='stylesheet' type='text/css'>
  <link href='//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css' rel='stylesheet' type='text/css' />
  <link href='/css/faceyourvote.css' rel='stylesheet' type='text/css' />
</head>
<body>

<header>
  <div id="ribbon"></div>
  <h1>Face Your Vote</h1>
  <h3>the election site that gets straight to the point</h3>
</header>

<div id="container"></div>
<!-- /container -->
<div class="content">
  <div class="tip">
    <i class="icon-hand-right"></i> move your mouse over the map
  </div>
</div>

<script src="/js/raphael-min.js"></script>
<script src="/js/vectordata.js"></script>
<script src="/js/statedata.js"></script>
<script src="/js/faceyourvote.js"></script>

</body>
</html>
