body {
  background: url(/img/blizzard.png);
  font-family: 'Doppio One', sans-serif;
  padding:0;margin:0;
}

#top-border {
  background: transparent url(/img/top-stripes.png) repeat-x center 0;
  height:10px;
  width:100%;
}

header {
  width:772px;
  margin:0 auto;
  padding: 20px 0 20px 0;
  height:100px;
  text-align:center;
  //text-shadow: rgba(150, 150, 150, 0.35) 3px 3px 0px;
}

header #ribbon {
  background: transparent url(/img/ribbon.png) center 0;
  width:412px;
  height:81px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -78px;
  z-index: 0;
}

header h1 {
  position: relative; z-index: 1;
  display:inline;
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 2.6em;
  line-height:1.2em;
  margin:0;
  color:#fff;
  font-weight:normal;
}
header h1 span {
  position:relative;top:-0.25em; 
  font-size:0.5em;
}
header h3 {
  margin:0;
  position:relative; z-index: 1;
  font-size:0.9em;
  font-weight:normal;
  text-transform:none;
}

#obama, #romney {
height:100px;width:100px;
position:relative;
margin-bottom:-100px;
top:-80px;
float:left;
background-image:url(/img/d2.jpg);
}

#romney {
float:right;
background-image:url(/img/r2.jpg);
}

.content {
  width:772px;
  margin: 0 auto;
}

.tip {
  font-size:0.8em;
}

#container {
  margin:0 auto;
  padding:20px 10px 0;
  background: url(/img/diagonal-noise.png);
  border: 1px solid rgba(24,40,107,0.05);
  width:750px;min-height:504px;
}
