body {
  background: url(/img/bgnoise.gif);
  font-family: 'Doppio One', sans-serif;
}

#top-border {
  background: transparent url(/img/top-stripes.png) repeat-x center 0;
  height:10px;
  width:100%;
}

header {
  width:772px;
  margin:0 auto;
  padding: 20px 0 20px 0;
  height:180px;
  text-align:center;
  text-transform:uppercase;
  //text-shadow: rgba(150, 150, 150, 0.35) 3px 3px 0px;
}

header #ribbon {
  background: transparent url(/img/header_ribbon.png) center 0;
  width:670px;
  height:361px;
  margin: 0 auto;
  position: relative;
  top:-100px;
  margin-bottom: -325px;
  z-index: 0;
}

header h1 {
  position: relative; z-index: 1;
  display:inline;
  font-family: 'Squada One', sans-serif;
  font-size: 4em;
  line-height:1em;
  margin:0;
  color:#000;
  font-weight:normal;
}
header h3 {
  margin:0;
  position:relative; z-index: 1;
  font-size:0.9em;
  font-weight:normal;
  text-transform:none;
}

.content {
  width:772px;
  margin: 0 auto;
}

.tip {
  font-size:0.8em;
}

#container {
  margin:0 auto;
  padding:20px 10px 0;
  background: url(/img/diagonal-noise.png);
  border: 1px solid rgba(24,40,107,0.05);
  width:750px;
}
