body {
  background: url(/img/blizzard.png);
  font-family: 'Doppio One', sans-serif;
  padding:0;margin:0;
}

#top-border {
  background: transparent url(/img/top-stripes.png) repeat-x center 0;
  height:10px;
  width:100%;
}

header {
  width:772px;
  margin:0 auto;
  padding: 20px 0 0;
  height:100px;
  text-align:center;
  //text-shadow: rgba(150, 150, 150, 0.35) 3px 3px 0px;
}

header #ribbon {
  background: transparent url(/img/ribbon.png) center 0;
  width:412px;
  height:81px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -78px;
  z-index: 0;
}

header h1 {
  position: relative; z-index: 1;
  display:inline;
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 2.6em;
  line-height:1.2em;
  margin:0;
  color:#fff;
  font-weight:normal;
}
header h1 span {
  position:relative;top:-0.25em; 
  font-size:0.5em;
}
header h3 {
  margin:0;
  position:relative; z-index: 1;
  font-size:0.9em;
  font-weight:normal;
  text-transform:none;
}

#obama, #romney {
height:100px;width:100px;
position:relative;
margin-bottom:-80px;
top:-80px;
float:left;
background-image:url(/img/d2.jpg);
}

#stats {
  width:772px;
  margin: 10px auto 20px;
}

#evSlider {
  position:relative;
  width:500px;
  height:10px;
  border: 1px solid #000;
  margin: 0 auto -12px;
  top:17px;
}

#evSlider:before {
  content:"|";
  text-align:center;
  position:absolute;
  top:-20px;
  width:100%;
}

.slider {
  width:14.2857%;
  float:left;
  height:10px;
}

#c0 { background-color:rgba(24,40,107,1.0); }
#c1 { background-color:rgba(24,40,107,0.7); }
#c2 { background-color:rgba(24,40,107,0.5); }
#c3 { background-color:rgba(255,255,255,1.0); }
#c4 { background-color:rgba(136,10,10,0.5);float:right; }
#c5 { background-color:rgba(136,10,10,0.7);float:right; }
#c6 { background-color:rgba(136,10,10,1.0);float:right; }


#stats .ev {
  text-align:center;
  width:100px;
  font-size: 2.5em;
  line-height:1em;
  padding:5px 0;
  border: 1px solid #000;
}
#obama_ev { float:left; color:rgb(24,40,107); }
#romney_ev { float:right; color:rgb(186,10,10);}

#romney {
float:right;
background-image:url(/img/r2.jpg);
}

#preload { display: none; }
#obama0 { background-image: url(/img/r0.jpg); }
#obama1 { background-image: url(/img/r1.jpg); }
#obama2 { background-image: url(/img/r2.jpg); }
#obama3 { background-image: url(/img/r3.jpg); }
#obama4 { background-image: url(/img/r4.jpg); }
#obama5 { background-image: url(/img/r5.jpg); }
#obama6 { background-image: url(/img/r6.jpg); }
#romney0 { background-image: url(/img/d0.jpg); }
#romney1 { background-image: url(/img/d1.jpg); }
#romney2 { background-image: url(/img/d2.jpg); }
#romney3 { background-image: url(/img/d3.jpg); }
#romney4 { background-image: url(/img/d4.jpg); }
#romney5 { background-image: url(/img/d5.jpg); }
#romney6 { background-image: url(/img/d6.jpg); }

.content {
  width:772px;
  margin: 0 auto;
}

.tip {
  font-size:0.8em;
}

#hoverTip {
  float:left;
}

#lastUpdated {
  float:right;
}

#container {
  margin:0 auto;
  padding:20px 10px 0;
  background: url(/img/diagonal-noise.png);
  border: 1px solid rgba(24,40,107,0.05);
  width:750px;min-height:504px;
}
